force-app/main/default/flows/Health_Verification_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Stage_1</name>
        <label>Stage 1</label>
        <locationX>255</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terms_and_Conditions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accept_or_Decline_Vaccination_Self_Attestation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_2</name>
        <label>Stage 2</label>
        <locationX>245</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Vaccination_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vaccine_Self_Attestation_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stage 3 = Upload Vaccination Card</description>
        <name>Stage_3</name>
        <label>Stage 3</label>
        <locationX>663</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upload_Vaccination_Card</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_File_of_Vaccination_Card</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AcceptRadio</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Accept&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accept</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeclineRadio</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Decline&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decline</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accept_or_Decline_Self_Attestation_Terms_and_Conditions</name>
        <label>Accept or Decline Self-Attestation Terms and Conditions</label>
        <locationX>58</locationX>
        <locationY>255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioAcceptOrDecline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptRadio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_2</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
        <rules>
            <name>Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioAcceptOrDecline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeclineRadio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Declination_Reason</targetReference>
            </connector>
            <label>Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Test</name>
        <label>Add Test</label>
        <locationX>392</locationX>
        <locationY>740</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Testing.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TestingVerification</targetReference>
            </connector>
            <label>Yes Add Test</label>
        </rules>
    </decisions>
    <description>This Health Verification Lightning Flow consists of three main screen flow steps:

Capture consent acknowledgment.
Capture health verification information.
Capture health verification file upload.

Rachel Edits</description>
    <dynamicChoiceSets>
        <name>DeclinationReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Declination_Reason__c</picklistField>
        <picklistObject>Health_Verification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HealthVerificationMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Health_Verification_Method__c</picklistField>
        <picklistObject>Health_Verification__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>RunningCommunityUser</description>
        <name>RunningCommunityUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Health Verification Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Health Verification Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Authorization_Form_Consent</name>
        <label>Create Authorization Form Consent</label>
        <locationX>785</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>Confirmation_Declined</targetReference>
        </connector>
        <inputAssignments>
            <field>AuthorizationFormTextId</field>
            <value>
                <stringValue>0cN5e000000cFCGEA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSource</field>
            <value>
                <stringValue>COVID-19 Vaccination Self-Attestation Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSourceType</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentGiverId</field>
            <value>
                <elementReference>Get_Employee_Record_from_User_ID.IndividualId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>COVID-19 Vaccination Consent: {!Get_Employee_Record_from_User_ID.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Seen</stringValue>
            </value>
        </inputAssignments>
        <object>AuthorizationFormConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Vaccination_Record_Accept</name>
        <label>Create Vaccination Record- Accept</label>
        <locationX>515</locationX>
        <locationY>276</locationY>
        <assignRecordIdToReference>HealthVerificationID</assignRecordIdToReference>
        <connector>
            <targetReference>Stage_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Get_Employee_Record_from_User_ID.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Get_Employee_Record_from_User_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Credential_Document_Date__c</field>
            <value>
                <elementReference>Date_of_Vaccination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Verification_Method__c</field>
            <value>
                <elementReference>HealthVerificationMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Verification_Status__c</field>
            <value>
                <stringValue>Not Verified</stringValue>
            </value>
        </inputAssignments>
        <object>Health_Verification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vaccination_Record_Declination</name>
        <label>Create Vaccination Record- Declination</label>
        <locationX>77</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Confirmation_Declined</targetReference>
        </connector>
        <inputAssignments>
            <field>Declination_Reason__c</field>
            <value>
                <elementReference>Declination_Reason_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Get_Employee_Record_from_User_ID.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Get_Employee_Record_from_User_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Verification_Status__c</field>
            <value>
                <stringValue>Not Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Health_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the employee’s information from the User ID. To access the Employee.UserId lookup field, you must have object-level access to the field.</description>
        <name>Get_Employee_Record_from_User_ID</name>
        <label>Get Employee Record from User ID</label>
        <locationX>466</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accept_or_Decline_Vaccination_Self_Attestation</name>
        <label>Accept or Decline Vaccination Self-Attestation</label>
        <locationX>51</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accept_or_Decline_Self_Attestation_Terms_and_Conditions</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;Emplo﻿yee Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage1</name>
            <extensionName>c:aaaVaxTrackDisplayFlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FlowStage1Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditionsHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;&lt;u&gt;Consent Acknowledgement&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TermsAndConditions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;By selecting &apos;Accept&apos; below, you grant permission to this organization to collect, store, and use the vaccination attestation information provided. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioAcceptOrDecline</name>
            <choiceReferences>AcceptRadio</choiceReferences>
            <choiceReferences>DeclineRadio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you accept the consent disclosure of this health verification form?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You have paused your health verification form.&lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Declined</name>
        <label>Confirmation-Declined</label>
        <locationX>402</locationX>
        <locationY>610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Test</targetReference>
        </connector>
        <fields>
            <name>Header6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;Emplo﻿yee Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowSpace</name>
            <fieldText>&lt;p xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Thank you for submitting your COVID-19 verification status. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;An HR representative will contact you shortly.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GreenCheckmarkImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>aaaGIGreenCheckbox</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioAcceptOrDecline</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AcceptRadio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RedX</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>redX</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioAcceptOrDecline</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeclineRadio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Testing</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to add a COVID-19 test result?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RadioAcceptOrDecline</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeclineRadio</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Declination_Reason</name>
        <label>Declination Reason</label>
        <locationX>70</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Vaccination_Record_Declination</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;Emplo﻿yee Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DeclinationReasonText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Please indicate your reason for declining vaccination:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Declination_Reason_Picklist</name>
            <choiceReferences>DeclinationReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Declination Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_File_of_Vaccination_Card</name>
        <label>Submit File of Vaccination Card</label>
        <locationX>792</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Authorization_Form_Consent</targetReference>
        </connector>
        <fields>
            <name>Header5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;Emplo﻿yee Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage3</name>
            <extensionName>c:aaaVaxTrackDisplayFlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FlowStage3Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VaccinationCardText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Please upload a file to provide proof of your health verification. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;﻿File extensions accepted: .jpeg, .jpg, .png, .pdf&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeathVerificationFile</name>
            <extensionName>c:PSFileAttachTemplate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowRecordId</name>
                <value>
                    <elementReference>HealthVerificationID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateDefId</name>
                <value>
                    <stringValue>Health Verification</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vaccine_Self_Attestation_Information</name>
        <label>Vaccine Self-Attestation Information</label>
        <locationX>374</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Vaccination_Record_Accept</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(123, 154, 147);&quot;&gt;Emplo﻿yee Health Verification Form&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStage2</name>
            <extensionName>c:aaaVaxTrackDisplayFlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FlowStage2Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelfAttestationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please complete the health verification-related questions below. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_your_health_verification_method</name>
            <choiceReferences>HealthVerificationMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose your health verification method:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VaccineDosesText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Enter the date your health credential was issued below. &lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If the health verification process you went through required more than one step, please only submit information related to the final step of the process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Vaccination</name>
            <dataType>Date</dataType>
            <fieldText>Health Credential Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>This is the label value for Stage 2= Enter Health Verification Details</description>
        <name>Enter_Vaccination_Details</name>
        <isActive>true</isActive>
        <label>Enter Health Verification Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <description>This is the label value for Stage 1= Terms and Conditions</description>
        <name>Terms_and_Conditions</name>
        <isActive>true</isActive>
        <label>Terms and Conditions</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>This is the label value for Stage 3= Upload Health Verification Evidence</description>
        <name>Upload_Vaccination_Card</name>
        <isActive>true</isActive>
        <label>Upload Health Verification Evidence</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>704</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Employee_Record_from_User_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>TestingVerification</name>
        <label>TestingVerification</label>
        <locationX>393</locationX>
        <locationY>944</locationY>
        <flowName>Testing_Verification_Screen_Flow</flowName>
        <inputAssignments>
            <name>ContentDocumentIDs</name>
            <value>
                <elementReference>ContentDocumentIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContentVersionIDs</name>
            <value>
                <elementReference>ContentVersionIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>employeeId</name>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentVersionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>employeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Employee_Record_from_User_ID.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>Health Verification ID</description>
        <name>HealthVerificationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
